:root {
    --color-bg: #FFFFFF;
    --color-bg-dark: #357EFE;
    --color-text-medium: #4E5D7C80;
    --color-text-hover: #FFFFFF99;
    --color-text-dark: #4E5D7C;
    --color-h3-dark: #000000;
    --color-frame: #1ABC9C;
    --color-item-yellow: #FFC736;
    --color-shadow: 0px 0px 32px 0px #4E5D7C52;
    --color-footer: #1A1D25;
    --footer-text-main: rgba(255, 255, 255, 0.5);
    --footer-text-sec: rgba(255, 255, 255, 0.7);
    --footer-line: rgba(255, 255, 255, 0.08);
    --menu-color: rgba(255, 255, 255, 0.8);
    --color-img-shadow: 0px 0px 32px 0px #4E5D7C52;
    --preview-shadow: 0px 0px 25px 0px #4E5D7C52;




    --border-47: 47px;
    --border-16: 16px;
    --border-8: 8px;
    --layout-width: 1872px;
    --height: 406px;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--color-bg);
    margin: 30px;
    font-family: "Inter", monospace;
    font-style: normal;
    font-weight: 500;
}