/* Header */

.header {
    background-color: var(--color-bg-dark);

}

.header__wrapper {
    max-width: var(--layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.header__logotype {
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    color: var(--color-bg);
    text-decoration: none;
}

.header__logotype:hover {
    color: var(--footer-text-main);
}

.header__enter {
    display: flex;
    align-items: center;
    color: var(--color-bg-dark);
    background: var(--color-bg);
    cursor: pointer;
    width: 230px;
    height: 48px;
    padding: 12px 32px;
    border-radius: var(--border-47);
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    border: none;
}

.header__enter:hover {
    background: var(--footer-text-main);
    color: var(--color-bg);
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 960px) {
    .header__enter {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
    }
}

@media (max-width: 640px) {
    .header__wrapper {
        padding: 30px 24px;
    }
}

@media (max-width: 375px) {
    .header__logo {
        font-size: 24px;
    }
}


/* Menu */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.menu__item {
    padding: 8px 8px;
}

.menu__item a {
    font-size: 18px;
    line-height: 25px;
    color: var(--menu-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.menu__item:hover a {
    color: var(--footer-text-main);
}


@media (max-width: 960px) {
    .menu {
        display: none;
    }
}