.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
    max-width: 1156px;
    justify-items: center;
    align-items: center;
}

.unit__header {
    font-weight: 600;
    line-height: 57px;
    font-size: 48px;
    margin-bottom: 24px;
    text-align: center;
}

.paragraph {
    color: var(--color-text-medium);
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 50px;
}

.paragraph_unit {
    text-align: center;
}

.paragraph_hover {
    color: var(--color-text-hover);
    margin-bottom: 32px;
}

.section_left {
    box-shadow: var(--color-shadow);
    padding: 93px 40px 48px 40px;
    border-radius: var(--border-8);
    background: var(--color-bg);
    height: 507px;
}

.section_center {
    box-shadow: var(--color-shadow);
    padding: 48px 40px;
    border-radius: var(--border-8);
    background: var(--color-bg);
    height: 507px;

}

.section_right {
    box-shadow: var(--color-shadow);
    padding: 48px 38px 48px 40px;
    border-radius: var(--border-8);
    background: var(--color-bg-dark);
    height: 507px;

}

.section__h3 {
    color: var(--color-h3-dark);
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    margin-bottom: 16px;
    margin-top: 5px;
}

.section__h3_white {
    color: var(--color-bg);
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    margin-bottom: 16px;
    margin-top: 5px;
}


.container {
    display: grid;
    grid-template-columns: auto auto;
}

.item1 {
    color: var(--color-text-dark);
    grid-column: 1 / 2;
    margin-bottom: 31px;
}

.item2 {
    color: var(--color-text-dark);
    grid-column: 2 / 3;
    margin-bottom: 31px;
}

.item_light1 {
    color: var(--color-bg);
    grid-column: 1 / 2;
    margin-bottom: 31px;
}

.item_light2 {
    color: var(--color-bg);
    grid-column: 2 / 3;
    margin-bottom: 31px;
}

.item_yellow {
    background: var(--color-item-yellow);
    color: var(--color-bg);
    border-radius: var(--border-8);
    width: 107px;
    padding: 8px 16px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}

.item_none {
    background: var(--color-bg);
    color: var(--color-text-dark);
    border-radius: var(--border-8);
    width: 107px;
    padding: 8px 16px;
    font-size: 17px;
    line-height: 20px;
}

.frame1 {
    background: transparent;
    display: none;
    margin-bottom: 16px;
}

.section__frame {
    width: 124px;
    height: 29px;
    padding: 4px 16px;
    border-radius: var(--border-8);
    background: var(--color-frame);
    color: var(--color-bg);
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 16px;
}

.button {
    width: 289px;
    height: 48px;
    padding: 12px 63px;
    border-radius: var(--border-47);
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    border: none;
    margin-bottom: 48px;
}

.button_dark {
    background: var(--color-bg-dark);
    color: var(--color-bg);
    margin-top: 20px;
    margin-bottom: 48px;
}

.button_light {
    background: var(--color-bg);
    color: var(--color-bg-dark);
    margin-top: 14px;
    margin-bottom: 48px;

}

@media (max-width: 375px) {
    .unit__header {
        font-size: 36px;
        line-height: 43px;
        gap: 24px;
        text-align: left;
        margin-top: 48px;
    }

    .paragraph_unit {
        margin-bottom: 32px;
        text-align: left;

    }

    .section_left {
        width: 328px;
        height: 436px;
    }
}