body {
    margin: 0;
    background-color: #374151;
}


header a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 200;
    line-height: 21px;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    padding: 33px 50px;
    border-bottom: 1px solid #F0F0F0;
    margin: 80px 0 0 180px;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#heroButton {
    background-color: #1F293799;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    height: 48px;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 0;

}

section > p {
    font-size: 14px;
    line-height: 16px;
    margin: 100px 0 0 630px;
    color: #F5F5F5;
    font-family: sans-serif;

}


.group {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    width: 148px;
    height: 28px;
    line-height: 28px;
    margin: 100px 0 0 706px;
}

.group1 {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    width: 85px;
    height: 28px;
    line-height: 28px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 706px;

}

.photo2 {
    border-radius: 5px;
    margin: 50px 0 0 272px;
    width: 896px;
    height: 594px;
}


.photo1 {
    margin: 30px 0 0 640px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
    margin: 20px 0 0 458px;
    font-family: sans-serif;
}

p {
    font-weight: 400;
    color: #FFFFFF;
}

.heroSection {
    font-size: 20px;
    line-height: 32px;
    font-family: sans-serif;
    width: 708px;
    height: 101px;
    margin: 60px 0 0 367px;
}

.section {
    font-size: 16px;
    line-height: 30px;
    width: 708px;
    height: 281px;
    margin: 200px auto 0;
    font-family: sans-serif;
}

.section1 {
    font-size: 16px;
    line-height: 30px;
    width: 708px;
    height: 181px;
    margin: 30px auto 0;
    font-family: sans-serif;
}

section a {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;

}

.footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #999999;
    margin: 30px 0 0 608px;
    font-family: sans-serif;
}

