body {
    margin: 0;
    background-color: #374151;
}

header {
    padding: 33px 50px;
    max-width: 1080px;

}


header a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    margin: 30px 0 0;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.heroButton::before {
    content: url("../1-Blog/search.svg");
}


#heroButton {
    background-color: #1F293799;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    border-radius: 100px;
    padding: 15px;
    margin: 30px auto;

}


section {
    margin: 0 auto;
}

section > p {
    font-size: 14px;
    line-height: 16px;
    color: #F5F5F5;
    font-family: sans-serif;

}


.group {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    width: 200px;
    height: 28px;
    line-height: 28px;

}

.group1 {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    width: 85px;
    height: 28px;
    line-height: 28px;

}

.photo2 {
    border-radius: 5px;
    margin: 20px auto 0;
    width: 896px;
    height: 594px;
}


h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
    font-family: sans-serif;
}

p {
    font-weight: 400;
    color: #FFFFFF;
}


.heroSection {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: sans-serif;
    margin: 60px auto;
}

.section {
    font-size: 16px;
    line-height: 30px;
    font-family: sans-serif;
    margin: 30px 0 0;
}

section a {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;

}

.footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #999999;
    margin: 100px 0 80px;
    font-family: sans-serif;
}

